requests
fastapi 
uvicorn 
google-generativeai
streamlit
python-dotenv
jira
pandas
pymongo 
dnspython
pinecone-client 
sentence-transformers 
torch
flask
botbuilder
requests
pydantic
langchain 
langchain-google-genai 
langchain-mongodb 
langchain-pinecone 
langchain_community